@charset "UTF-8";
body {
	color: #333;
	margin: 0 !important;
	min-width: 800px;
}
.lt{
	text-align: left;
}
.rt{
	text-align: right;
}
.error{
	color: red;
}
.note {
	color: #999;
}
.mlt{
    margin-left: auto;
}

.auto-style2 {
	border-style: solid;
	border-color: #FF0000;
	color: red;
}

.auto-style1 {
	font-size: larger;
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
}

.register-main {
	/* padding-left: 26px; */
}

.input-item {
	padding-bottom: 20px;
}

.input-item input {
	padding: 4px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-width: 300px;
}

.input-item label {
	width: 140px;
	display: inline-block;
}

#address input {
	min-width: 500px;
}

.register-btn {
	width: 150px;
    height: 41px;
    background-color: #4aa6ed;
    color: #fff;
    border-style: none;
    border-radius: 5px;
	cursor: pointer;
}

.register-cancel-btn {
	width: 150px;
    height: 41px;
    background-color: #999;
    color: #fff;
    border-style: none;
    border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.info-item {
	display: flex;
	padding-bottom: 20px;
}

.info-item .label {
	width: 130px;
}
.wrapper {
	display: flex;
	justify-content: center;
}
.inner-wrapper {
	width: 60%;
}
.btns-container {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}
.success-main {
	display: flex;
	justify-content: center;
	padding-top: 60px;
}

.success-main .icon-container {
	width: 26%;
}

.success-main .icon-container img {
	width: 100%;
}
.success-desc {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
.success-desc .desc-container {
	text-align: center;
	font-size: 1.5rem;
	
}

.success-desc .desc-container p {
	margin: 0 !important;
	line-height: 2.3rem;
}

.success-desc .link {
	padding-top: 20px;
	font-size: 1.2rem;
}

.common-header {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	/* box-shadow: #eee 0 3px 3px; */
	height: 70px;
	background-color: rgba(0, 0, 0, .8);
	padding: 0 20px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	z-index: 9999;
}

.common-header .main-title {
	font-size: 18px;
	position: relative;
    top: 3px;
}

.common-header .sub-wrapper {
	padding: 8px 0;
	text-align: right;
	font-size: 14px;
}

.common-header .sub-wrapper a {
	color: #fff;
}

.common-header .sub-wrapper .cart-icon{
	width: 20px;
    position: relative;
    top: 4px;
    left: -4px;
}
.common-header .opt-wrapper {
	padding-top: 3px;
}

.shop-main-container {
	padding-top: 87px;
	padding-left: 20px;
	padding-right: 20px;
}

.search-section {
	position: relative;
}

.search-section input {
	width: 60%;
    height: 33px;
    border: 1px solid #ddd;
    /* box-shadow: 2px 2px 3px rgb(0 0 0 / 10%); */
    border-radius: 6px;
	padding-left: 40px;
}

.search-section .search-icon {
	width: 22px;
    position: absolute;
    top: 8px;
    left: 10px;	
}
.search-section .search-button {
	width: 120px;
    height: 38px;
    background-color: #4aa6ed;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.category-search-section {
	padding: 20px 0 0px;
}
.category-search-section-inner {
	display: flex;
}
.category-search-section-inner  .title {
	width: 158px;
}
.category-search-section-inner .categorys {
	flex: 1;
	
}

.category-search-section-inner .categorys a {
	color: #4aa6ed;
	margin-right: 6px;
	word-break: keep-all;
}

.goods-section .title {
	color: #999;
	font-weight: bold;
	padding-bottom: 16px;
}

.goods-section .title img {
	width: 36px;
	position: relative;
    top: 8px;
}

.goods-section .goods-inner-container {
	display: flex;
	flex-wrap: wrap;
}

.goods-section .goods-inner-container .goods-item-container {
	width: 18%;
	min-width: 250px;
	height: 360px;
	border: 1px solid #ddd;
	margin-right: 14px;
	margin-bottom: 14px;
	transition: box-shadow linear .5s;
	position: relative;
	overflow: hidden;
}	

.goods-section .goods-inner-container .goods-item-container:hover{
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .1), -2px -2px 8px rgba(0, 0, 0, .1);
}

.goods-item-container .img-wrapper {
	
}
.goods-item-container .img-wrapper  img {
	width: 90%;
	padding: 10px;
}
.goods-item-infos {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
	height: 100px;
}

.goods-item-infos .goodsname {
	color: #fff;
	font-size: 14px;
	padding: 5px 10px 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	height: 36px;
}

.goods-item-infos .price-cart {
	display: flex;
}

.goods-item-infos .cart {
	width: 54px;
    height: 49px;
    background: #f5b400 url(../img/writecart_icon.png) no-repeat center center;
    /* background: #f74a6f url(../img/writecart_icon.png) no-repeat center center; */
    background-size: 60%;
    cursor: pointer;
}

.goods-item-infos .price {
	/* font-size: 13px; */
    flex: 1;
    /* height: 39px; */
    background-color: #333;
    color: #fff;
    padding: 2px 10px 0;
    display: flex;
    justify-content: space-between;
}

.goods-item-infos .price .p {
	position: relative;
	left: -2px;
}

.goods-item-infos .price .sub-p {
	position: relative;
	top: -4px;
}

.goods-item-infos .price .enn-mark {
	font-size: 12px;
}

.goods-item-infos .mark {
	font-size: 12px;
	position: relative;
	left: -2px;
}

.goods-item-infos .detail-wrpper{
	padding-top: 9px;
}

.goods-item-infos .price .detail {
	color: #fff;
	font-size: 12px;
}
.common-footer {
	text-align: center;
	padding: 20px 0 30px;
}
.pagenation {
	font-size: 14px;
}
.pagenation .forbid {
	color: #999;
}
.pagenation .enable-item {
	color: #4aa6ed;
	cursor: pointer;
	text-decoration: underline;
}
.pagenation .item {
	margin-right: 6px;
	display: inline-block;
}
.goods-section .result-title {
	padding: 10px 0;
}
nav {
	margin-bottom: 20px;
}
nav span {
	margin-right: 1px;
}
nav a {
	color: #4aa6ed;
	text-decoration: none;
	cursor: pointer;
}
.goods-detail-main {
	display: flex;
}

.goods-detail-main .goods-image-container {
	width: 410px;
}
.goods-detail-main .goods-text {
	flex: 1;
}
.goods-detail-main .swiper-wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 400px;
  
}

.goods-detail-main .swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 400px;
  /* border: 1px solid #ddd;
  margin-bottom: 10px; */
  overflow: hidden;
  margin-bottom: 10px;
}

.goods-detail-main .mySwiper2 {
  height: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.goods-detail-main .mySwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-wrapper {
	height: 90px;
	box-sizing: border-box;
}

.goods-detail-main .mySwiper .swiper-slide {
	height: 90px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5px;
}

.goods-detail-main .mySwiper .swiper-slide {
  width: 25%;
  /* height: 100%; */
  opacity: 0.4;
  line-height: 80px;
}

.goods-detail-main .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
	width: 100%;
}
