@charset "UTF-8";
body {
	color: #333;
}
.lt{
	text-align: left;
}
.rt{
	text-align: right;
}
.error{
	color: red;
}
.note {
	color: #999;
}
.mlt{
    margin-left: auto;
}

.auto-style2 {
	border-style: solid;
	border-color: #FF0000;
	color: red;
}

.auto-style1 {
	font-size: larger;
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
}

.register-main {
	/* padding-left: 26px; */
}

.input-item {
	padding-bottom: 20px;
}

.input-item input {
	padding: 4px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-width: 300px;
}

.input-item label {
	width: 140px;
	display: inline-block;
}

#address input {
	min-width: 500px;
}

.register-btn {
	width: 150px;
    height: 41px;
    background-color: #2778fe;
    color: #fff;
    border-style: none;
    border-radius: 5px;
	cursor: pointer;
}

.register-cancel-btn {
	width: 150px;
    height: 41px;
    background-color: #999;
    color: #fff;
    border-style: none;
    border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.info-item {
	display: flex;
	padding-bottom: 20px;
}

.info-item .label {
	width: 130px;
}
.wrapper {
	display: flex;
	justify-content: center;
}
.inner-wrapper {
	width: 60%;
}
.btns-container {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}
.success-main {
	display: flex;
	justify-content: center;
	padding-top: 60px;
}

.success-main .icon-container {
	width: 26%;
}

.success-main .icon-container img {
	width: 100%;
}
.success-desc {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
.success-desc .desc-container {
	text-align: center;
	font-size: 1.5rem;
	
}

.success-desc .desc-container p {
	margin: 0 !important;
	line-height: 2.3rem;
}

.success-desc .link {
	padding-top: 20px;
	font-size: 1.2rem;
}