<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/default.css">
    <script src="./js/vue.min.js"></script>
    <title>カート</title>
</head>
<body>
    <header class="common-header">
        <p class="main-title">ガセール ～ガセ商店　法人通販サイト～</p>
        <div class="sub-wrapper">
            <div>(株)XXXX ○○部　日本　太郎　様、こんにちは！&nbsp;&nbsp;&nbsp;
                <a href="#" class="log-off">ログオフ</a>
            </div>
            <div class="opt-wrapper">
                <a href="#"><img class="cart-icon" src="./img/writecart_icon.png" />カート</a>&nbsp;&nbsp;&nbsp;
                <a href="#">注文履歴</a>
            </div>
        </div>
    </header>
    <main class="shop-main-container" id="app">
        <nav>
            <span><a href="uw04_01.html">商品検索</a></span>
            <span>></span>
            <span>カート</span>
        </nav>
        <section class="cart-container">
            <div class="cart-item" v-for="goods in goodsList">
                <div class="img-wrapper">
                    <img :src="goods.image" alt="">
                </div>
                <div class="desc-wrapper">
                    <div class="caption">
                        {{goods.name}}
                    </div>
                    <div class="sub">
                        品番：XXXX　色：XX　カテゴリー：XXXXX
                    </div>
                    <div class="price-count">
                        <div class="content">
                            <span class="p"><span class="yen-mark">￥</span>{{(goods.basePrice * 1.08).toLocaleString()}}</span>
                            <span class="t">(税込) 税抜価格{{goods.basePrice.toLocaleString()}}円</span>
                        </div>
                        <div class="buy">
                            <div class="label">注文数</div>
                            <input class="cnt" type="number" v-model="goods.count" @change="onCountChange">
                            <span class="del" @click="onDel(goods.no)">この商品を削除する</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cart-total-info-container">
            <div class="caption">
                合計価格（税込）
            </div>
            <div class="price">
                <div class="p">{{(totalBasePrice * 1.08).toLocaleString()}}<span class="en-mark">円</span></div>
                <div class="s"> (税抜価格{{totalBasePrice.toLocaleString()}}円)</div>
                <button onclick="location.href='uw07_01.html'">注文する</button>
            </div>
        </section>
    </main>
    <footer class="common-footer">
        <small>
            &copy; 2023 ガセール ～ガセ商店　法人通販サイト
        </small>
    </footer>
</body>
<script>
    new Vue({
            el: "#app",
            data() {
                return {
                    goodsList: [{
                        no: 1,
                        name: "純正インクカートリッジ Canon BCI-381s+380s 小容量",
                        image: "./img/インクシアン.jpg",
                        basePrice: 2300,
                        count: 1,
                    }, {
                        no: 2,
                        name: "ポケット付きA4クリアファイル（会計・検査・配送伝票等用）25枚入り",
                        image: "./img/クリアファイル.jpg",
                        basePrice: 1500,
                        count: 2,
                    }, {
                        no: 3,
                        name: "Deli ホッチキス 省力80% メーカー3年保証 50枚とじ 軽い力レバー採用 50枚綴じ トップ滑り止めTPR素材 (1500本のホチキス針、ホチキス針リムーバー)付属 (ブラック, 40-50枚綴じ)",
                        image: "./img/ホチキス.jpg",
                        basePrice: 2000,
                        count: 1,
                    }],
                    totalBasePrice: 0,
                }
            },
            mounted() {
                this.calcTotalPrice();
            },
            methods: {
                calcTotalPrice() {
                    let totalBasePrice = 0;
                    this.goodsList.forEach(({ basePrice, count }) => {
                        totalBasePrice += (basePrice * (+count));
                    });
                    this.totalBasePrice = totalBasePrice;
                },
                onCountChange() {
                    this.calcTotalPrice();
                },
                onDel(id) {
                    const goods = this.goodsList.find(({no}) => no == id);
                    const {name} = goods;

                    const rst = confirm(`「${name}」をカートから削除してよろしいですか`);
                    if (rst) {
                        const newGoodsList = this.goodsList.filter(({ no }) => no != id);
                        this.goodsList = [...newGoodsList];
                        alert(`「${name}」をカートから削除しました！`);
                    }
                }
            }
        })
</script>
</html>